body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}





.concept h2 {
	margin: 50px;
}

.concept p {
	float: center;
}

.container {
	width: 960px; /* largura */
	margin: auto; /* centralizar */
}

.grid {
	display: grid; /* funcionamento de grid */
	grid-template-columns: auto auto auto auto;
}

.grid .coluna {
	border: 1.5px solid #000000;
	margin: 40px;
	border-radius: 10px;
	text-align: center;
}

.btn {
	color: #000000;
	border: 1px solid white;
	border-color: #000000;
	border-radius: 30px;
	padding: 10px;
	text-decoration: none;
	transition: all .5s;
	margin: none;
	display: inline-block;
}

img {
    border-radius: 10px 10px 0 0;
}